/****COMUNS*******/
* {
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  font-family: 'Century Gothic', sans-serif; }
  body a {
    -webkit-transition: 0.5s all; }

.box-body {
    padding: 15px;
}
.box-body p{
  font-size: 13px;
  margin: 0px;
}
.border-green {
    border: 1.3px solid #bbd8a2;
    padding: 10px;
}
/*.schedules {
	display: inline-flex;
}
.icon-schedules {
	padding: 1px 10px 0px 0px;
}
*/
.pd-0 {
	padding: 0;
}


section.header {
  padding: 30px 0 10px;
  background-color: white !important;
  color: black !important;
  /*padding: 11px;*/
  border-top: 4px solid #BBD8A2;}

.head-right p {
  float: right; }

ul {
  padding: 0;
  margin: 0; }

.idiomas {
  height: auto;
  width: auto;
  overflow: hidden; }
  .idiomas ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
    .idiomas ul li {
      font-size: 12px; }
      .idiomas ul li a {
        color: #666; }

.icon_euu {
  background: url(../images/btn_idi_euu.jpg) no-repeat;
  padding-left: 30px;
  margin-left: 20px; }

.icon_peru {
  background: url(../images/btn_idi_peru.jpg) no-repeat;
  padding-left: 30px; }

/*/*/
/*menu*/
.navbar-default {
  background-color: #0E5D36;
  border: none; }

.navbar {
  border-radius: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

/*jugadamenu*/
.navbar-brand {
  display: none; }

.navbar-nav {
  margin-left: -15px; }

.logo-nav {
  display: flex;
  
justify-content: center;
}

.circle-logo {
    background-color: #fff;
    position: absolute;
    /* left: 40%; */
    top: 22px;
    /* bottom: -99px; */
    z-index: 1;
    border-bottom-left-radius: 130px;
    padding: 0px 50px 20px;
    border-bottom-right-radius: 130px;

    ground-color: #002D23;
}
/*-hover-on-*/
.nav-hover li {
  position: relative; }
  .nav-hover li a:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #BBD8A2;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: color 0.3s,-webkit-transform 1s ease-out;
    transition: color 0.3s,-webkit-transform 1s ease-out;
    transition: color 0.3s,transform 1s ease-out;
    transition: color 0.3s,transform 1s ease-out,-webkit-transform 1s ease-out; }
  .nav-hover li a:active::before {
    background-color: #BBD8A2; }
  .nav-hover li a:hover::before, .nav-hover li a:focus::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
/**/



.text-financiero {
  padding: 9% 0 50px;
  text-align: center; }
  .text-financiero .intro {
    padding-top: 10px; }

.box-financiero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .box-financiero .col-flex {
    width: 20%;
    background-color: #0E5D36;
    position: relative; }
    .box-financiero .col-flex img {
      width: 100%; }
    .box-financiero .col-flex .box-verde {
      background-color: rgba(14, 93, 54, 0.79);
      position: absolute;
      bottom: -1px;
      height: 30%;
      width: 100%; }
      .box-financiero .col-flex .box-verde p {
        margin: 0;
        font-size: 13px;
        line-height: 15px;
        color: #fff;
        padding: 20px; }

/*FOOTER*/
.footer {
  color: #fff;
  background-color: #002D23; }
  .footer .footer-logo {
    text-align: center; }
    .footer .footer-logo img {
      padding: 20px; }
  .footer .contac {
    background-color: #01281F; }
.one{
  background-image: url('../images/ofertas-optimizados/oferta1.jpg');
  background-size: cover;
  height: 415px;
  margin-bottom: 15px;}
.two{
  background-image: url('../images/ofertas-optimizados/oferta2.jpg');
  background-size: cover;
  height: 415px;
  margin-bottom: 15px;}
.three{
  background-image: url('../images/ofertas-optimizados/oferta3.jpg');
  background-size: cover;
  height: 415px;
  margin-bottom: 15px;}
.four{
  background-image: url('../images/ofertas-optimizados/oferta4.jpg');
  background-size: cover;
  height: 415px;
  margin-bottom: 15px;}
.position-box {
    position: relative;
    top: 10%;
    left: 15%;
  width: 340px;}
.position-box-right{ 
  position: relative;
    top: 10%;
    right: 15%;
  width: 364px;}
.border-green ul{list-style-type: none;}
.border-green ul li{margin-bottom: 10px;}
.bg-white{background-color:white;}
.pd-15{padding: 15px;}
.padding-off{padding:12% 0 2%;}
@media (max-width: 480px){
  .box-body{padding: 10px !important;}
  .position-box{
    float:none;
    left: 0px;
      width: 100%;
  }
  .position-box-right{
    float: none;
    right: 0px;
    width: 100%;}
  .one ,.two, .three, .four{
    padding: 0px 15px;
    background-repeat: no-repeat;
    background-position: center;
  }
}



.home1{
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;}
.row{
  margin: 0px !important;}
/*.text-light{font-family: 'OpenSans-Light'; color:black;}*/
.color-white{color: white !important;}
.color-green{color: #0E5D36;}
.size-11{font-size: 11px;}
.size-12{font-size: 12px;}


.box-verde {
    background-color: rgba(14, 93, 54, 0.79);
    position: absolute;
    bottom: -1px;
    height: 38%;
    width: 100%; 
  padding: 5px 8px;}
.box-verde.green-dark{background-color: rgba(14, 93, 54, 0.92)!important;
  width: initial;}
.navbar{
  margin-bottom: 0px !important;
  }
.nav.navbar-nav li a {
    padding: 15px 21px;
  font-size: 15px;
   }
.nav.navbar-nav li:hover{
      color: #fff;
    background-color: #002D23;
  
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.nav-top {
    background-color: white !important;
  color: black !important;
  height: 30px;
  padding: 20px;
  border-top: 4px solid #BBD8A2;}
.logo{width: 100%;}
/*.navbar-default{
  background-color: #0e5d36 !important;
  margin-bottom: 0px !important-;
  position: fixed !important;
  z-index: 1000;
  width: 100%}
.navbar-default li a{
  color: white !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent !important;}
.nav-top {
    background-color: white !important;
  color: black !important;
  height: 30px;
  padding: 20px;
  border-top: 4px solid #BBD8A2;}
.nav.navbar-nav li a{
  font-size:11px;
  padding: 15px 11px;}
.navbar-nav{
  padding-left: 24% !important;
  position: absolute; }
/********************NAV****/
#bg-home{
  background-image: url(../img/inicio-optimizados/banner1.jpg);
  width: 100%;
  width: 100%;
  background-size: cover;
  height: 600px;
  background-position: bottom; }

.content-text {
    text-align: center;
    position: relative;
    top: 140px;
    margin: auto;
    color: white; 
  font-family: 'Aparaj_0';}

.content-text .wrap-txt{
  position: absolute;
  width: 100%;
  top:340px;}
/*LINE WHITE***********************/
#options {padding: 9% 0% 0;}

#options h4{
  color: #002E24;
  margin-bottom: 50px;
  font-family: 'Aparaj_0'}
/*****************IMG BOX ******/
#grid-img{margin-top: 25px;}
.img-box{
  width: 100%;
  background-image: url('../images/inicio-optimizados/inicio-habitaciones.jpg');
  background-size: cover;
  height:180px;}

.img-box1{
  background-image: url(../images/inicio-optimizados/banner1.jpg);
  width: 100%;
  background-size: cover;
  height:180px;}

.img-box2{
  background-image: url(../images/inicio-optimizados/inicio-sala-de-conferencia.jpg);
  width: 100%;
  background-size: cover;
  height:180px;}

.img-box3{
  background-image: url(../images/inicio-optimizados/inicio-restaurante.jpg);
  width: 100%;
  background-size: cover;
  height:180px;}

.green-light{
  background-color: #BBD8A2;
  display: inline-flex;
  width: 100%;}

.green-dark{
  background-color: #002E24;
  width: 22%;
  padding: 14px;}

.img-dark{width: 30px;}

.title-service{
  padding: 25px 15px 0px;
  color: #002E24;
}

/*****************IMG ZOOM***********/
.overflow{
  overflow: hidden;
  width: 100%;
    cursor: pointer;
    -webkit-transition: -webkit-all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.img-zoom{
    width: 100%;
    -webkit-transition: -webkit-all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;}

.img-zoom:hover{
  -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;}