doctype html
html
	head
		title Gaden Hotel
		meta(name='keywords', content='eccscdsafcdsfdafcd')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		// bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		// mystyles
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/landing.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		// favicon
		// link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
		script(src='js/jquery.min.js')
		// wow.js-animate
		script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		script(src='js/min.js')
		script.
			new WOW().init({
			offset: 20,
			});
	body
		.home1
			.nav-fix(style='position: fixed;width: 100%;z-index: 99;')
				section.header
					.container.content-small
						.row
							.items-line.col-md-3.col-xs-12.col-sm-12
									img(src="icons/ubicacion.svg" width="25px")
									p.mg-0(style='font-size: 12px;    padding-left: 10px;') Avenida Ricardo Rivera Navarrete 450, San Isidro
							.col-md-5.col-xs-12.col-sm-12
							.col-md-4.col-xs-12.col-sm-12
								.head-right
									.idiomas
										ul
											li
												a.icon_peru(href='') Español
											li
												a.icon_euu(href='') Ingles
									.header-contacto
										img(src="icons/tel.svg" width="25px")
										p
											| (511) 
											strong 2002800
				section.logo-nav
					.circle-logo
						img.logo(src='images/logo-menu.svg', alt='logo-hotel-garden')
				section.menu
					nav.navbar.navbar-default
						.container
							// Brand and toggle get grouped for better mobile display
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
								// a.navbar-brand(href='#') NUDISBCAIUB
							// Collect the nav links, forms, and other content for toggling
							#bs-example-navbar-collapse-1.collapse.navbar-collapse.content-small(style='margin: auto;')
								ul.nav-hover.nav.navbar-nav
									li
										a(href='index.html') INICIO
									li
										a(href='#') HOTEL
									li
										a(href='#') HABITACIONES
								ul.nav-hover.nav.navbar-nav.navbar-right
									li
										a(href='#') SALA DE CONFERENCIA
									li
										a(href='ofertas.html') OFERTAS  
									li
										a(href='#') UBICACIÓN 
			section
				#carousel-example.carousel.slide(data-ride='carousel')

					.carousel-inner
						.item.active
							a(href='#')
								img(src='./images/inicio-optimizados/banner1.jpg')
							.carousel-caption
								.txt-slid
									img(src="icons/marco-top.svg" width="300")
									h2
										| DESPIERTA A 5 MINUTOS DE TODO
									h4 en el corazón den centro financiero, San Isidro - Lima
									img(src="images/marco-centro.png" width="300")
						.item
							a(href='#')
								img(src='./images/inicio-optimizados/banner2.jpg')
							.carousel-caption
								.txt-slid
									img(src="icons/marco-top.svg" width="300")
									h2
										| DESPIERTA A 5 MINUTOS DE TODO
									h4 en el corazón den centro financiero, San Isidro - Lima
									img(src="images/marco-centro.png" width="300")
						.item
							a(href='#')
								img(src='./images/inicio-optimizados/banner3.jpg')
							.carousel-caption
								.txt-slid
									img(src="icons/marco-top.svg" width="300")
									h2
										| DESPIERTA A 5 MINUTOS DE TODO
									h4 en el corazón den centro financiero, San Isidro - Lima
									img(src="images/marco-centro.png" width="300")
						.item
							a(href='#')
								img(src='./images/inicio-optimizados/banner4.jpg')
							.carousel-caption
								.txt-slid
									h2
										| DESPIERTA A 5 MINUTOS DE TODO
									h4 en el corazón den centro financiero, San Isidro - Lima
					a.left.carousel-control(href='#carousel-example', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href='#carousel-example', data-slide='next')
						span.glyphicon.glyphicon-chevron-right
		section#options
			.container
				.text-center
					.sectio-title
						p Por que nuestro huésped es importante 
						h2.mg-0.color-green OFRECEMOS CALIDAD
						img(src='images/marco-centro.png')
					p
						| El Garden Hotel es un hotel 4 estrellas, ubicado en el moderno distrito de San Isidro, en la cuidad de Lima, Perú.
						br
						|             Nuestras confortables habitaciones, cordial servicio y exelente ubicación aseguran el éxito de tu viaje.
					br
					br
				.col-md-3
					p Recepción con atención las 24 horas en inglés o español
				.col-md-3
					p WiFi gratuito en todo el hotel de hasta 50MB
				.col-md-3
					p
						| Estacionamiento gratuito
				.col-md-3
					p
						| Áreas de trabajo disponibles
			.large
				.col-md-4
				.col-md-4
				.col-md-4
				.col-md-4
		section#grid-img
			.row
				.col-md-3.col-sm-6.col-xs-12(style='padding: 0px;')
					.green-light
						.green-dark
							img.img-dark(src='icons/hotel.svg')
						br
						span.title-service HOTEL
					.overflow
						.img-box1.img-zoom
				.col-md-3.col-sm-6.col-xs-12(style='padding: 0px;')
					.green-light
						.green-dark
							img.img-dark(src='icons/cama1.svg')
						br
						span.title-service HABITACIONES
					.overflow
						.img-box.img-zoom
				.col-md-3.col-sm-6.col-xs-12(style='padding: 0px;')
					.green-light
						.green-dark
							img.img-dark(src='icons/sala-de-conferencias.svg')
						br
						span.title-service SALA DE CONFERENCIA
					.overflow
						.img-box2.img-zoom
				.col-md-3.col-sm-6.col-xs-12(style='padding: 0px;')
					.green-light
						.green-dark
							img.img-dark(src='icons/hotel-restaurante.svg')
						br
						span.title-service RESTAURANT
					.overflow
						.img-box3.img-zoom
		.text-financiero
			.container(style='padding: 0px')
				.row
					p Estamos ubicados en el
					h2.mg-0.color-green CENTRO FINANCIERO
					img(src='images/marco-centro.png')
				.row
					.col-md-offset-2.col-md-8.intro
						p
							| Vive la modernidad de San Isidro, áreas verdes, cafés, centros comerciales y los mejores restaurantes.Además estamos cerca del Centro de Convenciones de Lima donde se realizan los mas importantes eventos.
		section
			.box-financiero
				.col-md-3.col-sm-6.col-xs-12.pd-0
					img(style='width: 100%;', src='images/ubicacion/bancos.jpg')
					.box-verde.green-dark.all-center
						p.color-white.size-12.mg-0
							| 21 bancos principales, 5 agencias bancarias, 5 administradoras de fondos de pensiones y 6 sociedades agentes de bolsa.
				.col-md-3.col-sm-6.col-xs-12.pd-0
					img(style='width: 100%;', src='images/ubicacion/westin.jpg')
					.box-verde.all-center
						p.color-white.size-12.mg-0 Centro de Convenciones Hotel Westin (a dos cuadras del Garden Hotel).
				.col-md-3.col-sm-6.col-xs-12.pd-0
					img(style='width: 100%;', src='images/ubicacion/tiendas.jpg')
					.box-verde.green-dark.all-center
						p.color-white.size-12.mg-0 Centros comerciales, Tiendas Boutique, Restaurantes 
				.col-md-3.col-sm-6.col-xs-12.pd-0
					img(style='width: 100%;', src='images/ubicacion/huaca.jpg')
					.box-verde.all-center
						p.color-white.size-12.mg-0 2 huacas de origen pre-hispánico; la huaca Huallamarca y la huaca Santa Cruz.
				.col-md-3.col-sm-6.col-xs-12.pd-0
					img(style='width: 100%;', src='images/ubicacion/areas-verdes.jpg')
					.box-verde.green-dark.all-center
						p.color-white.size-12.mg-0
							| Áreas verdes incluyendo el el Parque de Abtao (15,000 m2) a solo unos metros del Garden Hotel y el Bosque El Olivar (10ha) a 1.2 km de distancia.
		.footer
			.footer-logo.container
				.row
					img(src='images/logo-footer.svg')
			.contac
				.container.content-small(style='padding: 1% 10%')
					.row
						.col-md-5
							p.color-white(style='margin-bottom: 0px;') Avenida Ricardo Rivera Navarrete 450, San Isidro 
						.col-md-3
							p.color-white(style='margin-bottom: 0px;') (511) 2002800					
						.col-md-4
							p.color-white(style='margin-bottom: 0px;') informes@gardenhotel.com
				//
					.row
					.col-md-6
					p Copyright 2017 - Garden Hotel
					.col-md-6
					p Diseño y desarrollo  Raúl Chavez Inche - Lima, Perú

		script(src='js/bootstrap.min.js')
